@model IEnumerable<Product>


    <h4>Products</h4>
    <table class="table table-bordered table-striped">
        
            <tr>
                <th>ProductID</th>
                <th>Name</th>
                <th>Category</th>
                <th>CategoryID</th>
                <th>ShortDescription</th>
                <th>Price</th>
            </tr>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Category.CategoryName</td>
                    <td>@product.CategoryId</td>
                    <td>@product.ShortDescription</td>
                    <td>@product.Price</td>
                </tr>
            }
    </table>
